body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;font-size: 0.3rem;color: #333333;overflow:-Scroll;overflow-x:hidden;background: #FFFFFF;}
*{margin: 0;padding: 0;max-height: 100000px;box-sizing: border-box;}
a{text-decoration: none;-webkit-tap-highlight-color:transparent;}
.clear{clear: both;}
li{list-style: none;}
i{font-style: normal;}
.mar{margin: 0 auto;display: block;}
html{height: 100%;}
textarea {  -webkit-appearance: none;}
.m_t20{margin-top: 0.2rem;}
.m_t40{margin-top: 0.4rem;}
.left{float: left;}
.right{float: right;}
.h_50{width: 100%;height: 0.5rem;}
.c_f{color: #FFFFFF;}
.c_3{color: #333333;}
.f_60{font-size: 0.6rem;font-weight: bold;line-height: 1rem}
.f_48{font-size: 0.48rem;font-weight: bold;}
.f_30{font-size: 0.3rem;line-height: 0.55rem;}
.p_80{padding: 0.8rem 0;}
.bg_f7{background: #f7f7f7;}
.center{text-align: center;}
.w_720{width: 7.2rem;margin: 0 auto;text-align: center}


.index_1{width: 100%;text-align: center;height: 44.2rem;background: url(/image/mobile_index_bg_1.jpg)no-repeat center;background-size: 7.2rem 44.2rem;}
.index_1_1{font-size: 0.6rem;font-weight: bold;padding-top: 4.75rem;}
.index_1_2{margin-top: 0.3rem;}
.index_1_3{width: 2.26rem;height: 0.64rem;border-radius: 9px;background:url(/image/mobile_right.png)no-repeat right 0.4rem center rgb(5, 110, 196);margin-top: 0.3rem;color: #FFFFFF;line-height: 0.64rem;background-size: 0.1rem 0.18rem;padding-right: 0.2rem}
.index_1_4{color: #FFFFFF;font-size: 0.6rem;line-height: 1rem;margin-top: 5.8rem;font-weight: bold;}
.index_1_6{color: #FFFFFF;margin-top: 0.1rem;line-height: 0.5rem;}
.index_2{margin-top: 0.5rem;width: 7.2rem;height: 8.3rem;text-align: center;}
.index_2_1{background: url(/image/mobile_index_bg_2.png)no-repeat center;background-size: 7.2rem 8.3rem;}
.index_2_p1{font-size: 0.6rem;color: #FFFFFF;padding-top:2.2rem; }
.index_2_p2{color: #e8e8e8;line-height: 0.55rem;margin-top: 0.2rem;}
.index_2_p3{color: #0070cb;font-size: 0.24rem;margin-top: 0.25rem;background: url(/image/mobile_right_blue.png)no-repeat right center;background-size: 0.11rem 0.19rem;width: 2rem}
.index_2_2{background: url(/image/mobile_index_bg_3.png)no-repeat center;background-size: 7.2rem 8.3rem;}
.index_2_3{background: url(/image/mobile_index_bg_4.png)no-repeat center;background-size: 7.2rem 8.3rem;}
.index_2_p4{margin-top: 0.24rem;}

.story_1{width: 7.2rem;height: 13.73rem;background: url(/image/mobile_story_17_1.png)no-repeat center;background-size: 7.2rem 13.73rem;text-align: center;}
.story_1_1{padding-top: 5rem}
.qianyan{font-size: 0.48rem;}

.story_17_2{width: 6.5rem;height: 8.2rem;}
.story_b{background: #000000;width: 7.2rem;height: 9.25rem;text-align: center;color: #FFFFFF}
.story_b_p1{font-size: 0.48rem;padding-top: 3rem;font-weight: bold;}
.story_b_p2{font-size: 0.24rem;line-height: 0.48rem;margin-top: 0.1rem;}
.story_17_3{width: 4.93rem;height: 2.35rem;}

.story_17_4{width: 6.5rem;height: 9.9rem;}

.story_17_5{width: 6.5rem;height: 4rem;}
.bz{font-size: 0.18rem;color: #666666;margin-top: 0.3rem;line-height: 0.3rem}

.story_17_6{width: 6.5rem;height: 3.64rem;}

.story_17_7{width: 6.5rem;height: 8.94rem;}
.story_17_8{width: 3.85rem;height: 8.64rem;}

.story_17_9{width: 6.5rem;height: 10.28rem;}

.story_17_10{width: 6.5rem;height: 4.28rem;}
.story_17_11{width: 4.1rem;height: 4.61rem;}

.story_17_13{width: 6.5rem;height: 4.47rem;}
.story_17_14{width: 4.93rem;height: 5.27rem;}
.story_2{width: 7.2rem;height: 13.73rem;background: url(/image/mobile_story_18_1.png)no-repeat center;background-size: 7.2rem 13.73rem;text-align: center;}

.story_18_2{width: 6.5rem;height: 3.59rem;}

.story_18_3{width: 6.5rem;height: 3.72rem;}

.story_18_4{width: 3.66rem;height: 1.22rem;}
.story_18_5{width: 4.97rem;height: 5.86rem;}
.story_18_6{width: 4.1rem;height: 9.93rem;}
.story_18_7{width: 3.59rem;height: 3.59rem;}
.story_18_8{width: 4.9rem;height: 4.97rem;}

.story_18_9{width: 6.5rem;height: 3.72rem;}

.story_18_10{width: 6.5rem;height: 2.93rem;}

.story_18_11{width: 6.5rem;height: 3.78rem;}

.story_18_12{width: 6.5rem;height: 4.02rem;}

.story_18_13{width: 6.5rem;height: 3.9rem;}
.about_1{width: 7.2rem;height: 13.73rem;background: url(/image/mobile_about_bg.png)no-repeat center;background-size: 7.2rem 13.73rem;text-align: center;}
.about_2{width: 6.6rem;padding: 0.7rem 0.4rem;border-top: 1px solid #999999;}
.about_2_1{font-size: 0.4rem;font-weight: bold;}
.map{width: 5.81rem;height: 3.11rem;border: 1px #666 solid;}
.about_img2{width: 3.6rem;height: 3.6rem;}
.about_p1{width: 5.8rem;text-align: left;font-size: 0.24rem;color: #666666;}
.about_inp1{background: none;width: 5.8rem;border-radius: 0;border:none;border-bottom: 1px #bfbfbf solid;padding: 0.1rem;outline: none;font-size: 0.24rem}
.about_inp2{background: none;width: 5.8rem;border-radius: 0;border:none;border-bottom: 1px #bfbfbf solid;padding: 0.1rem;outline: none;font-size: 0.24rem;height: 1.2rem;resize: none}
.about_inp3{width: 2.26rem;height: 0.64rem;border-radius: 9px;background: rgb(5, 110, 196);margin-top: 0.8rem;color: #FFFFFF;line-height: 0.64rem;margin-bottom: 0.2rem;border: none;outline: none;font-size: 0.24rem;}
.buy_1{width: 7.2rem;height: 19.02rem;background: url(/image/mobile_buy_bg.png)no-repeat center;background-size: 7.2rem 19.02rem;margin-top: 0.89rem;}
.buy_2{text-align: center;padding-top: 1rem;color: #444444;}
.buy_3{text-align: center;padding: 0.8rem 0;}
.buy_4{width: 5.8rem;}
.buy_4 .m_t40{margin-top: 0.3rem;}
.buy_5{font-size: 0.26rem;position: relative;}
.buy_5 span{font-size: 0.5rem;position: absolute;color: #d91e06;margin-top: -10px;}
.buy_6{background: none;width: 100%;border-radius: 0;border:none;border-bottom: 1px #666666 solid;padding: 0.1rem;outline: none;font-size: 0.26rem;}
.buy_7{font-size: 0.2rem;color: #FFFFFF;text-align: center;}
.juzhong{position: absolute;top: 50%;left: 50%;margin: auto;transform: translate(-50%,-50%);text-align: center;width: 100%;}
