nav{width: 100%;height: 0.89rem;background: #313131;padding: 0 0.3rem;display: flex;position: fixed;top: 0;justify-content: space-between;align-items: center;z-index: 999;}
.nav_1{width: 0.39rem;height: 0.39rem;}
.nav_2{width: 0.5rem;height: 0.47rem;}
.nav_3{width: 0.38rem;height: 0.38rem;}
.menu{width: 100%;background: #313131;position: fixed;top: 0.89rem;border-top: 1px solid #FFFFFF;text-align: center;font-size: 0.24rem;color: #FFFFFF;display: none;z-index: 999;}
.menu ul li a{color: #fff;}
.menu ul li{padding: 0.2rem 0;}
.menu ul{padding: 0.2rem 0;}

footer{width: 100%;height: 1.2rem;background: #313131;text-align: center}
.footer_1{display: flex;justify-content: center;}
.footer_1_a{height: 0.32rem;line-height: 0.32rem;color: #999999;font-size: 0.18rem;margin: 0.2rem 0.15rem;}
.footer_2{text-align: center;margin-top: -0.2rem}
.footer_2_1{font-size: 0.16rem;color: #666666;margin: 0 0.2rem;}
